<center> <h1> Hi, Welcome to Smartcar Backend Challenge! </h1> <br>
		Kingly go through Git repository, <%= link_to "Solution is Here!", "https://github.com/parkhiyaronak/SmartcarBackendAPI" %>
</center>

